* {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #1D8348;
}

.navbar {
  margin-left: 300px;
  }

.navbar ul li {
  float: left;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 21px;
  padding: 10px;
  font-weight: 600;
}

.navbar img {
  float: left;
  width: 200px;
  margin-left: 50px;
  }

.clear {
  clear: left;
}